/* Variations for responsiveElement.js */
.responsive div,
.customRules div {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.responsive-lg div,
.customRulesLarge div {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.responsive-md div,
.customRulesMedium div {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.responsive-sm div,
.customRulesSmall div {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}
.responsive-xs div,
.customRulesXSmall div {
  background-color: #e2ffe2;
  border-color: #95d195;
}
